<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="UTF-8"/>
	<title th:text="#{product.all}"></title>
</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-9">
								<p th:text="#{product.all}"></p>
								<a th:href="@{/product/new}" th:text="#{product.new}"></a>
							</div>
							<div class="col-xs-3 pull-right">
								<img th:src="@{/img/icon/grocery64x64.png}" alt="Hisab Kitab grocery" class="img-responsive" />
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div th:if="${productListEmpty}" class="alert alert-danger">
							<p th:text="#{product.list.empty}"></p>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Category</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${products}">
									<td th:text="${product.name}"></td>
									<td th:text="${product.category.name}"></td>
									<td><a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-primary btn-sm "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
									<td><i class="fa fa-trash-o red" aria-hidden="true"></i></td>
								</tr>
							</tbody>							
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>