<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="UTF-8"/>
	<title th:text="#{app.title}"></title>
</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-9">
							</div>
							<div class="col-xs-3 pull-right">
							</div>
						</div>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
